// mapboxgl
MAPBOX_ACCESS_TOKEN=

NODE_ENV=development
PORT=3000
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE=mongodb+srv://pedropfc_db_user:<PASSWORD>@cluster0.0rt4usc.mongodb.net/roamora-app?appName=Cluster0
