section.section-header
  .header__hero
    .header__hero-overlay &nbsp;
    img.header__hero-img(src='/img/tour-5-cover.jpg', alt='Tour 5')

  .heading-box
    h1.heading-primary
      span The Lençóis Camper Tour
    .heading-box__group
      .heading-box__detail
        svg.heading-box__icon
          use(xlink:href='/img/icons.svg#icon-clock')
        span.heading-box__text 12 days
      .heading-box__detail
        svg.heading-box__icon
          use(xlink:href='/img/icons.svg#icon-map-pin')
        span.heading-box__text Barreirinhas, Brazil

section.section-description
  .overview-box
    div
      .overview-box__group
        h2.heading-secondary.ma-bt-lg Quick facts
        .overview-box__detail
          svg.overview-box__icon
            use(xlink:href='/img/icons.svg#icon-calendar')
          span.overview-box__label Next date
          span.overview-box__text August 2026
        .overview-box__detail
          svg.overview-box__icon
            use(xlink:href='/img/icons.svg#icon-trending-up')
          span.overview-box__label Difficulty
          span.overview-box__text Difficult
        .overview-box__detail
          svg.overview-box__icon
            use(xlink:href='/img/icons.svg#icon-user')
          span.overview-box__label Participants
          span.overview-box__text 10 people
        .overview-box__detail
          svg.overview-box__icon
            use(xlink:href='/img/icons.svg#icon-star')
          span.overview-box__label Rating
          span.overview-box__text 4.8 / 5

      .overview-box__group
        h2.heading-secondary.ma-bt-lg Your tour guides
        .overview-box__detail
          img.overview-box__img(src='/img/users/user-19.jpg', alt='Lead guide')
          span.overview-box__label Lead guide
          span.overview-box__text Steven Miller
        .overview-box__detail
          img.overview-box__img(src='/img/users/user-18.jpg', alt='Tour guide')
          span.overview-box__label Tour guide
          span.overview-box__text Lisa Brown
        .overview-box__detail
          img.overview-box__img(src='/img/users/user-17.jpg', alt='Intern')
          span.overview-box__label Intern
          span.overview-box__text Max Smith

  .description-box
    h2.heading-secondary.ma-bt-lg About The Lençóis Camper tour
    p.description__text Camp under a starry sky in the middle of one of the most surreal landscapes on the planet. Lençóis Maranhenses, with its endless white sand dunes and turquoise freshwater lagoons, provide a visual spectacle that defies the imagination. Feel the texture of the fine sand as you walk to your private oasis.
    p.description__text Experience the absolute peace of the Brazilian desert and wake up to the sunrise reflecting in the clear waters. A true disconnection from modern life to reconnect with the essence of wild nature.

section.section-pictures
  .picture-box
    img.picture-box__img.picture-box__img--1(src='/img/tour-5-1.jpg', alt='The Lençóis Camper Tour 1')
  .picture-box
    img.picture-box__img.picture-box__img--2(src='/img/tour-5-2.jpg', alt='The Lençóis Camper Tour 2')
  .picture-box
    img.picture-box__img.picture-box__img--3(src='/img/tour-5-3.jpg', alt='The Lençóis Camper Tour 3')

section.section-map
  #map

section.section-reviews
  .reviews

    .reviews__card
      .reviews__avatar
        img.reviews__avatar-img(src='/img/users/user-7.jpg', alt='Jim Brown')
        h6.reviews__user Jim Brown
      p.reviews__text This camping experience in the dunes was unreal! The sunrise over the lagoons is something I will never forget.
      .reviews__rating
        svg.reviews__star.reviews__star--active
          use(xlink:href='/img/icons.svg#icon-star')
        svg.reviews__star.reviews__star--active
          use(xlink:href='/img/icons.svg#icon-star')
        svg.reviews__star.reviews__star--active
          use(xlink:href='/img/icons.svg#icon-star')
        svg.reviews__star.reviews__star--active
          use(xlink:href='/img/icons.svg#icon-star')
        svg.reviews__star.reviews__star--active
          use(xlink:href='/img/icons.svg#icon-star')

section.section-cta
  .cta
    .cta__img.cta__img--logo
      img(src='/img/logo-white.png', alt='Roamora logo')
    img.cta__img.cta__img--1(src='/img/tour-5-2.jpg', alt='')
    img.cta__img.cta__img--2(src='/img/tour-5-1.jpg', alt='')
    .cta__content
      h2.heading-secondary What are you waiting for?
      p.cta__text 12 days. 1 adventure. Infinite memories. Make it yours today!
      button.btn.btn--green.span-all-rows Book tour now!